*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Gotham-Medium;
    src: url(./Gotham_Medium_Regular/Gotham_Medium_Regular.ttf);
}
@font-face {
    font-family: Gotham-Light;
    src: url(./Gotham_Light_Regular/Gotham_Light_Regular.otf);
}
@font-face {
    font-family: Gotham-Book;
    src: url(./Gotham_Book_Regular/Gotham_Book_Regular.otf);
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Gotham-Medium;
}
/* Tags */
a{
    text-decoration: none;
}
/* Classes */
.btn{
    font-family: Gotham-Medium;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    background: none;
    padding: 10px 35px;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    margin: 10px 0;
}
.white-btn{
    color: #fff;
    border: #fff solid 3px;
}
.white-btn:hover{
    background-color: #fff;
    color: #000;
}
.black-btn{
    color: #000;
    border: #000 solid 3px;
}
.black-btn:hover{
    background-color: #000;;
    color: #fff;
}
/* Page1 */
#page1{
    width: 100vw;
    height: 100vh;
    background: url(./img/page1-background.jpg) no-repeat center center/cover;
    color: #fff;
    position: relative;
}
/* NavBar */
nav{
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 17px;
    left: 19px;
    z-index: 1;
    height: 45px;    
}
#nav-logo svg{
    height: 15px;
    width: 100px;
    float: left;
}
.tesla-logo-white{
    fill: #fff;
}
nav ul{
    list-style: none;
    float: left;
}
nav ul li{
    float: left;
    margin-left: 20px;
}
nav ul li a{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: Gotham-Medium;
    color: #fff;
}
#nav-center{
    float: left;
    /* top/right/bottom/left */
    /* margin: 0 128px 0 264px */
    margin: 0 126px 0 260px;
}
/* aside */
aside{
    display: inline-block; 
    position: absolute;
    top: 111px;
    left: 11px;

}
aside ul{
    list-style: none;
}
aside a{
    opacity: 0.4;
    font-family: 'Bodoni Moda', serif;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
}
aside a:hover,
.current{
    opacity: 1;
    font-size: 25px;
    font-family: Gotham-Medium;
    font-weight: bold;
}
.white-aside a{
    color: #fff;
}
.black-aside a{
    color: #000;
}

/* header */
#page1 header{
    position: absolute;
    top: 70px;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    width: 100%;
}

/* footer */
footer{
    position: absolute;
    width: 644px;
    left: calc(calc(100vw - 640px) / 2);
    top: 460px;
    height: 63px;
    display: block;
}
.logo-box{
    height: 63px;
    width: 160px;
    border-right: #fff solid 2px;
    float: left;
    text-align: center;
}
.logo-box p{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.logo-box h2{
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
}
.logo-box1-heading{
    display: inline-block;
}
.logo-box1 h2{
    float: left;
}
.speedometer{
    display: inline;
    float: left;
    height: 22px;
    width: 41px;
    position: relative;
    margin: 5px;
}
.speedometer-outer{
    fill: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}
.speedometer-inner{
    fill: #fff;
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    left: 6px;
}
.speedometer-needle{
    fill: #fff;
    transform: rotate(90deg);
    position: absolute;
    bottom: -7.5px;
    left: 24px;    
}
.logo-box3{
    border: none;
}

/* down btn */
.down-btn{
    position: absolute;
    top: 558px;
    left: calc((100vw - 20px) / 2);
    display: block;
    width: 20px;
    margin:auto;
    cursor: pointer;
}
.down-btn svg{
    fill: #fff;
    width: 20px;
    height: 20px;
}

/* page2 */
#page2{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.black-nav .tesla-logo-black{
    fill:black
}
.up-sign svg{
    height: 20px;
    margin:0;
    margin-left: 1246px;
}
#page2-main-left{
    width: 30%;
    height: 100vh;
    background-color: #fff;
    float: left;
    padding: 55px 49px;
    color: #171a20;
}
#page2-main-left h5{
    font-family: Gotham-Light;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
}
#page2-main-left h1{
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
}
#page2-main-left p{
    font-family: Gotham-Book;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #393c41;
    margin-top: 86px;
}
#btns-box-page2{
    position: absolute;
    top: 510px;
    width: 350px;
    margin: auto;
    height: 48px;
}
.round-btn{
    position: relative;
    display: block;
    /* border: green solid 3px; */
    overflow: auto;
    height: 44px;
    width:44px;
    float: left;
 }
.round-btn .plus{
    height: 38px;
    position: absolute;
    top:1px;
    left: 1px;
} 
.circle{
    width: 44px;
    height: 44px;
    /* border: rgb(128, 41, 0) solid 1px; */
}
.round-btn svg{
    position: absolute;
    top:0;
}
#page2-right-Learn-More{
    float: left;
    font-family: Gotham-Book;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #393c41;
    padding:9px;
}
#page2-right-btn{
    float: left;
    margin-top:0 !important;
}
#page2-main-right{
    width: 70%;
    height: 100vh;
    float: right;
}
#page2-main-right img{
    width: 100%;
    height: 625px; 
}
#arrows{
    list-style: none;
}

.arrow{
    position: absolute;
    z-index: 2;
    color: #393c41;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    font-family: Gotham-Book;
    display: block;
    border-left: #000 3px solid;
    padding-left: 8px;
} 
#arrow1{
    height: 226px;
    width: 148px;
    top: 100px;
    left: 500px;
}
#arrow2{
    height: 110px;
    width: 125px;
    top: 40px;
    left: 785px;
}
#arrow3{
    height: 133px;
    width: 190px;
    top:364px;
    left:824px;
    padding-top: 120px;
}

/* page3 */
#page3{
    width: 100vw;
    height: 100vh;
    position: relative;
    background: url(./img/page3-background.jpg) no-repeat center center/cover;
}
#page3-header{
    width: 100%;
    height: 110px;
    background-color: #F4F4F4;
}
#page3-main{
    color: #fff;
    position: absolute;
    width: 975px;
    left: calc(calc(100vw - 975px) / 2);
    top:220px;
}
#page3-main .logo-box{
    width: 325px;
    padding: 0 20px;
}
#page3-main .logo-box p{
    text-align: left;
}
#page3-footer{
    width: 100%;
    height: 255px;
    background-color: #F4F4F4;
    position: absolute;
    top: 370px;
    left: 0;
    padding: 45px 188px;
}
#page3-footer-left{
    width: 33%;
    float: left;
}
#page3-footer-left h3{
    font-family: Gotham-Light;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    color: #171a20;
}
#page3-footer-left h1{
    font-family: Gotham-Medium;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #171a20;
    margin-bottom: 30px;
}
#page3-footer-right{
    width: 67%;
    float: right;
    padding: 0 40px;
}
#page3-footer-right p{
    font-family: Gotham-Book;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #393c41;
}


