*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Gotham-Medium-Regular;
    src: url(./Gotham_Medium_Regular/Gotham_Medium_Regular.ttf);
}
/* Tags */
a{
    text-decoration: none;
}
/* Classes */
/* Page1 */
#page1{
    width: 100vw;
    height: 100vh;
    background: url(./img/page1-background.jpg) no-repeat center center/cover;
    font-family: Gotham-Medium-Regular;
    color: #fff;
}
/* NavBar */
nav{
    overflow: auto;
    position: sticky;
    height: 37px;
    /* top/right/bottom/left */
    padding: 17px 0 0 19px;

}
#nav-logo svg{
    height: 15px;
    width: 100px;
    float: left;
}
#tesla-logo {
    fill: #fff;
}
nav ul{
    list-style: none;
    float: left;
}
nav ul li{
    float: left;
    margin-left: 20px;
}
nav ul li a{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: Gotham-Medium-Regular;
    color: #fff;
}
#nav-center{
    float: left;
    /* top/right/bottom/left */
    margin: 0 128px 0 264px

}

/* header */
#page1 header{
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    margin: 47px;
    width: 100%;

}